<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "styles.min.css" %}{% endset %}
      <style>
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="{{ '/css/styles.min.css' | url }}">
    {% endif %}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body class="max-w-full flex flex-col h-screen overflow-x-hidden">
    <a href="#main" class="skip-link">Skip to main content</a>
    {% include "parts/header.njk" %}

    <main id="main" class="mb-auto {% if templateClass %} {{ templateClass }}{% endif %}">
        {{ content | safe }}
    </main>

    {% include "parts/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
